<div class="container">
  <h1>My URLockbox</h1>

  <div class="add-link-form text-center">
    <h2>Add a link here!</h2>

    <%= form_for :link, url: links_path do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.label :url, "Url" %>
      <%= f.text_field :url %>

      <%= f.submit "Add new link", class: "btn btn-success" %>
      <% end %>
  </div>

<p></p>
<p></p>
<div id="return-data" class="panel panel-default">
    <h2>All My Links</h2>
    <table id="links-list" class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>URL</th>
            <th>Read/Unread</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        <% current_user.links.each do |link| %>
        <tr>
            <td><%= link.title %></td>
            <td><%= link.url %></td>
            <td><%= link.read %></td>
            <td></td>
        </tr>
        <% end %>


    </tbody>
</table>

  </div>

</div>
